body {
  font-family: Arial, sans-serif;
  background-color: #282c34; 
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h1, h2 {
  color: #61dafb;
}

#searchArea {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 15px;
  width: 60%;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

#gifContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#loadMoreButton {
  background-color: #28a745;
  margin-top: 20px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#loadMoreButton:hover {
  background-color: #218838;
}
